:root {
  --primary: #535c57;
  --secondary: #dbe2dd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  min-height: 2000px;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #232e2e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar .navbar-logo {
  font-size: 2rem;
  color: var(--secondary);
  font-weight: 100;
}

.navbar .navbar-nav a {
  color: var(--secondary);
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: black;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("images/clay-banks-_u067VFAfBU-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 6rem;
  color: var(--secondary);
  line-height: 0.7;
  margin-top: 6rem;
}

.hero .content h2 {
  font-size: 5rem;
  color: var(--secondary);
}

.hero .content p {
  font-size: 1.5rem;
  color: var(--secondary);
}

.hero .content .cta {
  display: inline-block;
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: 50px;
}

/* about */

.about h1 {
  padding: 5rem 7% 1.4rem;
  font-size: 5rem;
  text-align: center;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.about .row .menu-card {
  text-align: center;
  padding-bottom: 5rem;
}

.about .row .menu-card img {
  margin-top: -100px;
  border-radius: 50%;
  width: 400px;
  padding: 2rem;
}

.about .row .menu-card a img {
  margin-top: 5px;
  width: 110px;
  margin-right: -18px;
  margin-left: -18px;
}

.about .row .menu-card .cta {
  display: inline-block;
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 50px;
}

.about .row .menu-card p {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  margin-top: 1rem;
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 50px;
  margin-right: 70px;
  margin-left: 70px;
}

/* our expertise */
.expertise h1 {
  padding: 1.4rem 7%;
  font-size: 4rem;
  text-align: center;
  color: var(--primary);
}

.expertise {
  padding: 3rem 7% 1.4rem;
  background-color: var(--secondary);
}

.expertise .menu-image {
  display: flex;
  align-items: center;
  color: var(--primary);
}

.expertise .menu-image img {
  width: 500px;
  padding: 2rem;
  margin-top: 1rem;
}

.expertise .menu-image div {
  padding: 1rem;
}

.expertise .menu-image div h2 {
  font-size: 35px;
}

.expertise .menu-image div p {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 25px;
}

.expertise .menu-image div .cta {
  display: inline-block;
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: 50px;
}

/* deskripsi */
.deskripsi {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("images/clay-banks-_u067VFAfBU-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.deskripsi .content {
  padding: 1.4rem 10%;
  max-width: 60rem;
}

.deskripsi .content h1 {
  font-size: 3rem;
  color: var(--secondary);
  margin-top: 6rem;
  background-color: var(--primary);
  border-radius: 50px;
  text-align: center;
  padding: 5px;
  margin-right: 8rem;
}

.deskripsi span h1 {
    font-size: 2.8rem;
    color: var(--secondary);
    margin-top: 4rem;
    background-color: var(--primary);
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    margin-right: 8rem;
}

.deskripsi .content h2 {
  font-size: 5rem;
  color: var(--secondary);
  margin-left: 70px;
}

.deskripsi .content p {
  font-size: 1.5rem;
  color: var(--secondary);
  padding: 4px;
  margin-left: 70px;
}

.deskripsi .content .cta {
  display: inline-block;
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: 50px;
}

/*iframe*/

.frame h1 {
  padding: 1.4rem 7%;
  font-size: 3rem;
  text-align: center;
  color: var(--secondary);
}

.frame iframe {
  /* margin-top: 40px;
  margin-bottom: 20px; */
  border: 1px solid #ccc;
  width: 100%;
  height: 400px;
}

/* footer */
footer {
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* tabel */
/* .deskripsi .content .table thead tr{
  background-color: var(--secondary);
} */
